<div class="container">
</div>

<section class="jumbotron text-center">
    <div class="container">
    <h2 class="jumbotron-heading">Add Product To CART</h2>
    </div>
</section>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                         <tr>
                           <th scope="col">User Name</th>
                           <th scope="col">Product Name</th>
                            <th scope="col" >Product Price</th>
                            <th scope="col">Quantity</th>
                            

                            <th scope="col">Sub Total</th>
                            
                            </tr>
                         </thead>
                    <tbody>
                    <%@carts.each do |cart| %>
         
                  <tr>
                      <td><%= cart.user_id %></td>
                    <td><%= cart.product_name%></td>
                    <td><%= cart.product_price%></td>
                    <td><%= cart.quantity %></td>
                    <td><%= cart.sub_total%></td>
                     
                    </tr>
                     <%end -%>   
                    </tbody>


                    <tfoot>
               


          <tr>
       <td></td>
       <td></td>

       <td class="text-right"><strong>Total<td></td></strong></td>
       <td><span id="grandTotal"><%= current_user.carts.sum(:sub_total)%></span></td>
       </tr>

        <tr>
       <td></td>
       <td></td>
       <td class="text-right" style="color: red; font-weight: bold"><strong>GST 18%<td></td></strong></td>
       <td><span id="grandTotal"><%=current_user.carts.sum(:sub_total)*current_user.carts.sum(0.18)%></span></td>
       </tr> 
       


       <tr>
       <td></td>
       <td></td>
      
       <td class="text-right"><strong>Grand Total<td></td></strong></td>
       <td><span id="grandTotal"><%=current_user.carts.sum(:sub_total)*current_user.carts.sum(0.18)+current_user.carts.sum(:sub_total)%></span></td>
       </tr> 
            
   </tfoot>
 </table>      
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                
                   <td> <%= link_to "Continue Shopping",products_path,:class=>"btn btn-warning"%></td>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                   

                    <%= link_to "Proceed To Checkout",new_order_path,:class=>"btn btn-lg btn-block btn-success text-uppercase"%>
                </div>
            </div>
        </div>
    </div>
</div>




