





<div class="text-center">
<h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name),html: {class: "user"}) do |f| %>

  <div class="form-group">
    <%= f.email_field :email,:class => "form-control form-control-user" , :id=>"exampleInputEmail",:placeholder=>"Enter Email Address..." ,:autocomplete=>"off" %>
    

  </div>
  <div class="form-group">
  <%= f.password_field :password, :class => "form-control form-control-user", :id=>"exampleInputPassword",   

            :placeholder=> "Password",:autocomplete=>"off" %>
    

  </div>

  <div class="form-group">
    <div class="custom-control custom-checkbox small">
      <% if devise_mapping.rememberable? %>
      <%= f.check_box :remember_me ,:class => "custom-control-input", :id=>"customCheck"%>
      <%= f.label :remember_me, :class=>"custom-control-label" ,:for=>"customCheck"%>
    </div>
    <% end -%>
  </div>
    <div class="action">
      <%= f.submit :submit,  :class=>"btn btn-google btn-user btn-block"%>
    </div>
  
 

  <hr>
  <a href="www.google.com" class="btn btn-google btn-user btn-block">
    <i class="fab fa-google fa-fw"></i> Login with Google
  </a>
  <a href="index.html" class="btn btn-facebook btn-user btn-block">
    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
  </a>
<%end%>
<hr>
<div class="text-center">
 
 <a><%= link_to "Forget Password", new_user_password_path%></a>
 

</div>
<div class="text-center">
  <!-- <a class="small" href="register.html">Create an Account!</a> -->
  <a><%= link_to "Create an Account",new_user_registration_path%></a>
</div>
</div>
<%= render "devise/shared/links" %>
